
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div id="content">
    <div id="contact">
        <h1>Thông Tin Website</h1>
        <h4>Location :</h4>
        <p>
            Vương Quốc Loài thú là Bài tâp lớn môn Công nghệ Web của nhóm 3 thành viên:<h4>- Bạch Ngọc Hiệp</h4>
            <h4>- Vũ Quốc Tuấn</h4>
            <h4>- Trần Mạnh Linh</h4>
            <h3>Giáo Viên hướng dẫn: Trần Văn An<br /></h3>
        </p>
        <p>
            <h4>Đặt vé: <br/>  0909 999 999 </h4>
        </p>
        <h4>Số điện thoại:</h4>
        <p>01234 000 000</p>
        <h4>Chăm sóc khách hàng :</h4>
        <p>285 067-39 282 or 5282 9273 999</p>
        <h4>Email : BTL@zoo.com</h4>
        <p></p>
        <a href="#" id="facebook">Facebook</a> <a href="#" id="twitter">Twitter</a>
        <form action="#">
            <h3>Đăng ký để nhận </h3>
            <h2>TIN TỨC MỚI NHẤT</h2>
            <input type="text" value="email của bạn..." onblur="this.value = !this.value ? 'email của bạn...' : this.value;" onfocus="    this.select()" onclick="    this.value = '';" />
        </form>
    </div>
   
</div>
