
@{
   
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/style.css" type="text/css" />
<a href="#">Buy tickets</a><a href ="#">Check Events</a>
<img src="~/Content/images/lion-family.jpg" alt="" />



