@{

    ViewBag.Title = "Index";
}
<table align="center">
    <tr>
        <td>
            <a id="headerlink" href="#">Đặt vé</a>
            <a id="headerlink" href="#">Sự Kiện</a>
        </td>
        <td>
            <img src="~/Content/images/lion-family.jpg" align="middle" />
        </td>
    </tr>
</table>



