@model BTL_Zoo.Entities.SuKien
@{
    ViewBag.Title = "Detail";
}
<div id="content">
    <div id="events">
        <h1>@Model.TieuDe</h1>
        <p><h5>@Model.Thoigian</h5></p>
        <p><img id="imageevent" src="@Model.HinhAnh"   /></p>
                <p><h3>@Html.Raw(Model.NoiDung)</h3></p>

    </div>
</div>



