@model IEnumerable<BTL_Zoo.Entities.SuKien>

@{
    ViewBag.Title = "Index";
}

<div id="content">
    <div id="events">
        <h1>Sự kiện</h1>
        <ul>
            @foreach (var item in Model)
            {
                
               // var tt = Html.DisplayFor(modelItem => item.TieuDe).ToString();
                    
                <li>
                    <div><a href="#"><img src="@item.HinhAnh" /></a></div>
                    <h4>@Html.ActionLink( Html.DisplayFor(modelItem => item.TieuDe).ToString(), "Detail", new { id = item.IDEvent })</h4>
                     <p> @Html.DisplayFor(modelItem => item.Thoigian)</p>
                    @{
                         var s = new StreamReader(item.TomTat.ToString());
                         string line;
                         while ((line = s.ReadLine()) != null)
                            {
                                <p>@line</p>
                            }
                    }
                </li>
            }
           
        </ul>
     </div>
</div>
